header {
    background-image: url("../pics/bg-school-supplies.jpg");
    background-size: cover;
}

header h1 {
    margin: 1em;
}

header .lead {
    background: rgba(255,255,255,.9);
    padding: 1em;
    border-radius: 10px;
}

header, main {
    min-height: 100vh;
}

#content {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../pics/double-bubble-outline.png");
    padding: 1em;
}

/* --------- MEDIA QUERYT */

@media screen and (min-width:1000px) {
    header .container-fluid {
        padding-right: 5em;
    }
}

