body {
    background-color: rgb(33, 37, 41);
    color: rgb(0, 0, 0);
    background-image: url(../pics/maantieto-tausta.jpg);
}

h1 {
    padding-top: 10px;
}

img {
    height: 500px;
    width: auto;
}

.row {
    padding: 5px;
}

/* Kuvassa käytetty gridiä, jotta kuvat saadaan päällekkäin ilman että ne poistuvat documentin flowsta */
#pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.map {
    margin-left: 100px;
}

#Buttons {
    padding-top: 10px;
}

.btn {
    color: cornsilk;
    background-color: rgb(41, 56, 139);
}

.visible {
    visibility: visible !important;
}

.hidden {
    visibility: hidden !important;
}

.correct {
    background-color: green !important;
}

#score {
    font-size: large;
}

#again {
    visibility: hidden;
}

#palkinto {
    width: auto;
}

@media screen and (max-height: 900px) {
    
    footer {
        visibility: hidden;
    }

    .map {
        margin-left: 0;
    }

    #palkinto {
        width: 300px;
        height: auto;
    }
}