input[type="number"] {
    width: 80px;
}

.asetukset {
    background-color: rgb(158, 229, 238);
    padding: 5px;
    margin: 5px;
}

.hidden {
    height: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#laskut>div>span {
    font-size: 1.5em;
}

#laskut {
    border: black;
}

.pisteet{
    font-size: 1.5em;
}

.tyhj {
    color: white;
}

.oikeinVastattu {
    color: green;
}

.virhe {
    color: red;
}