html {
    padding: 8rem;
    text-align: left;
    font-size: x-large;
    height: 100%;
}

h2 {
    font-family: monospace;
}

#container {
    margin: 20px;
    margin-top: 8em;
    
}

div {
    margin: 10px;
}

hr {
    border: 8px solid darkcyan;
    width: 18em;
}

#list-example {
    max-width: 18em;
}

#answer {
    color: goldenrod;
}