body {
    background-image: url("../pics/Tietoa-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#content {
    color: white;
}

main {
    padding-bottom: 4em;
}

h2, p {
    padding: 5px;
}

h2 {
    text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
}

.section p:last-child {
    padding-bottom: 0;
}

.section {
    font-size: large;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    text-align: left;
    padding: .5em;
    margin: .5em;
}

a {
    color: rgb(255, 217, 0);
}

a:hover { color:rgb(255, 0, 242)}


/* --------- MEDIA QUERYT */

@media screen and (min-width:1000px) {
    header .container-fluid {
        padding-right: 5em;
    }
}

@media screen and (max-width: 600px) {
    #content {
        padding-top: 50px;
    }

    body {
        background-size: auto;
    }
}