html {
    text-align: left;
    font-size: x-large;
    height: 100%;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(169, 235, 240));
}

h2 {
    font-family: monospace;
    margin-left: 4.2em;
}

nav {
    height: 2.5rem;
    font-size: medium;
}

#container {
    margin: 20px;
    margin-top: 8em;
    
}

div {
    margin: 10px;
}

hr {
    border: 8px solid darkcyan;
    width: 18em;
    margin-left: 1.4em;
}

#list-example {
    max-width: 18em;
    min-width: 150px;
    margin-left: 1.8em;
}

#answer {
    color: goldenrod;
}

#skills {
    margin-left: 2.2rem;
}

#valia {
    margin-bottom: 15rem;
}

#kokohomma {
    padding: 8rem;
    text-align: left;
    font-size: x-large;
    height: 100%;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(167, 251, 255));
}