p{
    background-color: red;
}

img {
    height: 500px;
    width: auto;
}

/* Kuvassa käytetty gridiä, jotta kuvat saadaan päällekkäin ilman että ne poistuvat documentin flowsta */
#pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}