/* --- Yleiset */
.hidden {
    display: none;
    visibility: hidden;
}

.visible {
    display: block;
    visibility: visible;
}

/* --- Typografia */

h2 > span {
    font-style: italic;
}

/* --- Yleinen rakenne */

main {
    background-image: url('../pics/books.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* --- Kysymykset */

.question-container {
    background: rgba(255, 255, 255, .8);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.question {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 1em;
}

.question:last-child {
    border: 0;
    padding: 0;
}

.question {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.result {
    grid-column: 1/-1;
}


/* --- Media Queryt */

@media screen and (min-width:425px) {
    .question {
        grid-template-columns: .5fr 1fr;
    }
}

@media screen and (min-width:768px) {
    .question {
        grid-template-columns: repeat(3, 1fr);
    }
    .result {
        grid-column: 3/4;
    }
}

@media screen and (min-width:1024px) {
    .question-container {
        padding: 1.4em;
    }
    .question {
        grid-template-columns: 150px 1fr 1fr;
    }
    #q3 .question {
        grid-template-columns: 250px 1fr 1fr;
    }
}