body {
    background-image: url("../pics/Tietoa-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#content {
    padding-top: 100px;
    color: white;
}

header h1 {
    margin: 1em;
}

main {
    padding-bottom: 5em;
}

h2, p {
    padding: 5px;
}

.section p:last-child {
    padding-bottom: 0;
}

.section {
    font-size: large;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
    text-align: left;
    padding: .5em;
    margin: .5em;
}


/* --------- MEDIA QUERYT */

@media screen and (min-width:1000px) {
    header .container-fluid {
        padding-right: 5em;
    }
}

@media screen and (max-width: 600px) {
    #content {
        padding-top: 50px;
    }

    body {
        background-size: auto;
    }
}